<div id="refreshSnrGamesModal" class="modal modal-lg fade" tabindex="-1" aria-labelledby="refreshSnrGamesModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="refreshSnrGamesModalLabel">Refresh Swords & Ravens Games Status</h1>
                <button type="button" class="btn-close text-brand" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="text-muted fst-italic mb-3 text-center">
                    Checking for updates for all non-completed Swords & Ravens games...
                </div>
                <code id="snrProgress" class="overflow-auto d-block mt-2"
                      style="white-space: pre-wrap; word-wrap: break-word; max-height: 540px">
                </code>
                <div class="d-flex justify-content-end align-items-center gap-2 mt-3">
                    <button id="updateSnrStatusBtn" type="button" class="btn btn-outline-secondary visually-hidden"
                            onClick="updateSnrStatus()">Done
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">

    const snrRefreshData = [];

    function fetchSnrData(gameId, gameName) {
        showRefreshSnrModal();
        let gamesToFetch;
        if (gameId) {
            gamesToFetch = [{gameId: gameId, gameName: gameName}];
        } else {
            gamesToFetch = $('[data-rs-stage-id="' + getSelectedStageId() + '"] [data-rs-game-link]')
                .filter(function () {
                    return $(this).data('rs-game-completed') === false
                })
                .map(function () {
                    return {
                        gameId: $(this).data('rs-game-id'),
                        gameName: $(this).data('rs-game-name')
                    };
                })
                .get()
        }
        const promises = gamesToFetch.map(game => callSnr(game));
        Promise.all(promises).then(() => {
            if (snrRefreshData.length === 0) {
                logSnr("No updates were found.");
            } else {
                $('#updateSnrStatusBtn').removeClass('visually-hidden');
            }
        });
    }

    function showRefreshSnrModal() {
        $('#snrProgress').empty();
        snrRefreshData.length = 0;
        $("#updateSnrStatusBtn").addClass("visually-hidden");
        $("#refreshSnrGamesModal").modal("show");
    }

    function callSnr(game) {
        return fetch(`/tournament/${getTournamentId()}/stage/${getSelectedStageId()}/refresh-snr-game/${game.gameId}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.json();
            })
            .then(gameUpdates => {
                if (hasAnyUpdates(gameUpdates)) {
                    displayUpdates(game.gameName, gameUpdates);
                    snrRefreshData.push(gameUpdates);
                }
            })
            .catch(error => {
                console.error('Error fetching SNR games:', error);
                $('#snrProgress').text(`Error fetching SNR games: ${error.message}`);
            });
    }

    function hasAnyUpdates(gameUpdates) {
        return gameUpdates.completed || gameUpdates.round || gameUpdates.playerRankingList;
    }

    function displayUpdates(gameName, updates) {
        logSnr(gameName);
        if (updates.round) {
            logSnr('    Round ' + updates.round
                + (updates.completed ? ' (completed) ' : ''));
        }
        if (updates.completed) {
            logSnr('    Final rankings');
            for (let r = 0; r < updates.playerRankingList.length; r++) {
                const ranking = updates.playerRankingList[r];
                logSnr('        ' + (r + 1) + '. ' + (ranking.participantName + ' (' + ranking.house + ')').padEnd(42, ' ')
                    + (ranking.points + '').padStart(2, ' ') + ' pts. ' + (ranking.penaltyPoints ? (' -' + ranking.penaltyPoints + ' pen.pts.') : ''));
            }
        }
        logSnr('');
    }

    function logSnr(log) {
        $('#snrProgress').append(log + "\n");
    }

    function updateSnrStatus() {
        console.log("updating with: \n" + snrRefreshData);
    }
</script>