<div id="refreshSnrGamesModal" class="modal modal-lg fade" tabindex="-1" aria-labelledby="refreshSnrGamesModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content" style="height: 640px">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="refreshSnrGamesModalLabel">Refresh Swords & Ravens Games Status</h1>
                <button type="button" class="btn-close text-brand" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div id="snrModalBody" class="modal-body">
                <div class="text-muted fst-italic mb-3 text-center">
                    Checking for updates for all non-completed Swords & Ravens games...
                </div>
                <code id="snrProgress" class="overflow-auto d-block mt-2"
                      style="white-space: pre-wrap; word-wrap: break-word;">
                </code>
            </div>
            <div id="updateSnrStatusBar" class="modal-footer d-flex justify-content-center gap-2 visually-hidden">
                <div class="me-auto"></div>
                <div class="text-muted fst-italic">No updates have been saved to Ravenscore yet. Confirm
                    updates?
                </div>
                <div class="d-flex justify-content-end align-items-center gap-2 ms-auto">
                    <div id="snrUpdatesSpinner" class="spinner-border text-brand visually-hidden" role="status">
                    </div>
                    <button id="updateSnrStatusBtn" type="button" class="btn btn-outline-secondary"
                            onClick="updateSnrStatus()">Confirm
                    </button>
                    <button id="closeRefreshSnrModalBtn" type="button" class="btn btn-outline-secondary visually-hidden"
                            onClick="closeRefreshSnrModal()">Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">

    const snrRefreshData = [];

    async function fetchSnrData(gameId, gameName) {
        showRefreshSnrModal();
        let gamesToFetch;
        if (gameId) {
            gamesToFetch = [{gameId: gameId, gameName: gameName}];
        } else {
            gamesToFetch = $('[data-rs-stage-id="' + getSelectedStageId() + '"] [data-rs-game-link]')
                .filter(function () {
                    return $(this).data('rs-game-completed') === false
                })
                .map(function () {
                    return {
                        gameId: $(this).data('rs-game-id'),
                        gameName: $(this).data('rs-game-name')
                    };
                })
                .get()
        }
        for (const game of gamesToFetch) {
            await callSnr(game);
        }
        if (snrRefreshData.length === 0) {
            logSnr("No updates were found.");
        } else {
            $('#updateSnrStatusBar').removeClass('visually-hidden');
            logSnr('');
        }
    }

    function showRefreshSnrModal() {
        $('#snrProgress').empty();
        snrRefreshData.length = 0;
        $("#updateSnrStatusBar").addClass("visually-hidden");
        $("#snrUpdatesSpinner").addClass("visually-hidden");
        $('#updateSnrStatusBtn').removeClass("visually-hidden");
        $('#closeRefreshSnrModalBtn').addClass('visually-hidden');
        $("#refreshSnrGamesModal").modal("show");
    }

    function closeRefreshSnrModal() {
        $("#refreshSnrGamesModal").modal("hide");
        window.location.reload();
    }

    function callSnr(game) {
        return fetch(`/tournament/${getTournamentId()}/stage/${getSelectedStageId()}/refresh-snr-game/${game.gameId}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.json();
            })
            .then(gameUpdates => {
                if (hasAnyUpdates(gameUpdates)) {
                    displayUpdates(game.gameName, gameUpdates);
                    snrRefreshData.push(gameUpdates);
                }
            })
            .catch(error => {
                console.error('Error fetching SNR games:', error);
                logSnr(game.gameName);
                logSnr("    Could not check for updates. Try again later or update manually.\n")
            });
    }

    function hasAnyUpdates(gameUpdates) {
        return gameUpdates.completed || gameUpdates.round || gameUpdates.playerRankingList;
    }

    function displayUpdates(gameName, updates) {
        logSnr(gameName);
        if (updates.round) {
            logSnr('    Round ' + updates.round
                + (updates.completed ? ' (completed) ' : ''));
        }
        if (updates.completed) {
            logSnr('    Final rankings');
            for (let r = 0; r < updates.playerRankingList.length; r++) {
                const ranking = updates.playerRankingList[r];
                logSnr('        ' + (r + 1) + '. ' + (ranking.participantName + ' (' + ranking.house + ')').padEnd(42, ' ')
                    + (ranking.points + '').padStart(2, ' ') + ' pts. ' + (ranking.penaltyPoints ? (' -' + ranking.penaltyPoints + ' pen.pts.') : ''));
            }
        }
        logSnr('');
    }

    function logSnr(log) {
        $('#snrProgress').append(log + "\n");
        const modalBody = $('#snrModalBody');
        modalBody.scrollTop(modalBody[0].scrollHeight);
    }

    async function updateSnrStatus() {
        $('#updateSnrStatusBtn').addClass("visually-hidden");
        $("#snrUpdatesSpinner").removeClass("visually-hidden");
        console.log("updating with: \n" + snrRefreshData);
        for (const updates of snrRefreshData) {
            logSnr('Updating "' + updates.gameName + '"...');
            if (updates.round) {
                await $.ajax({
                    url: `/tournament/${getTournamentId()}/stage/${getSelectedStageId()}/game/${updates.gameId}/round/${updates.round}`,
                    type: "GET",
                    error: function () {
                        console.error("Update round request failed:", status, error);
                    }
                });
            }
            if (updates.completed) {
                await $.ajax({
                    url: `/tournament/${getTournamentId()}/stage/${getSelectedStageId()}/game/${updates.gameId}/rankings`,
                    type: "POST",
                    data: JSON.stringify({
                        gameId: updates.gameId,
                        completed: updates.completed,
                        playerRankingList: updates.playerRankingList
                    }),
                    contentType: "application/json",
                    error: function () {
                        console.error("Update game rankings request failed:", status, error);
                    }
                });
            }
        }
        logSnr('\nDone.');
        $("#snrUpdatesSpinner").addClass("visually-hidden");
        $('#closeRefreshSnrModalBtn').removeClass('visually-hidden');
    }
</script>