<header class="sticky-top">
    <nav class="navbar bg-body-tertiary p-0">
        <div class="container container-rs">
            <div class="d-flex justify-content-center align-items-center gap-2 w-100">
                <a class="navbar-brand highlight-primary p-0 d-flex justify-content-center align-items-center"
                   th:href="@{/}">
                    <img th:src="@{'/logo.png'}" alt="Logo" height="64">
                    <img th:src="@{'/logo-text-golden.png'}" alt="Logo" height="38" class="ms-2">
                </a>
            </div>
        </div>
    </nav>
</header>