<header class="sticky-top">
    <nav class="navbar bg-body-tertiary p-0">
        <div class="container">
            <div class="d-flex justify-content-center align-items-center gap-2 w-100">
                <a class="navbar-brand p-0" th:href="@{/}">
                    <img th:src="@{'/logo.png'}" alt="Logo" height="64" class="d-inline-block align-text-top">
                </a>
                <span class="large navbar-brand">Ravenscore</span>
                <!--<button class="btn btn-outline-secondary ms-auto" type="button">New Tourney</button>-->
            </div>
        </div>
    </nav>
</header>