:root {
    --rs-brand-color: rgba(218, 165, 32, 1);
    --rs-brand-color-light: rgba(218, 165, 32, 0.55);
}

/*---------------
# Layout
-----------------*/
@media (min-width: 960px) {
    .container-rs {
        max-width: 960px !important;
    }
}

th {
    font-weight: 600 !important;
}

/*---------------
# Cookie prompt
----------------*/
.cookie-container {
    z-index: 999;
    top: 75px;
}

.cookie-background {
    border: 1px solid var(--rs-brand-color);
    border-radius: 8px;
}

/*-----------------------
# Accordion Customization
-------------------------*/
.accordion-body {
    padding-left: 0;
    padding-right: 0;
}

.accordion-body > .row {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0, 0, 0, .125);
}

.accordion-button:not(.collapsed) {
    color: rgb(44, 44, 44);
    background-color: rgba(227, 227, 227, 0.3);
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23DAA520'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23DAA520'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

/*-----------------------
# Input Customization
-------------------------*/
.form-control:focus {
    box-shadow: 0 0 0 0.1rem var(--rs-brand-color-light);
    border-color: var(--rs-brand-color);
}

/*-----------------------
# Nav Links Customization
-------------------------*/
.nav-underline .nav-link:hover,
.nav-underline .nav-link.active {
    /*      text-black      */
    --bs-text-opacity: 1;
    color: rgba(var(--bs-black-rgb), var(--bs-text-opacity)) !important;

    border-bottom-color: var(--rs-brand-color);
}

.nav-underline .nav-link {
    /*      text-muted      */
    --bs-text-opacity: 1;
    color: var(--bs-secondary-color) !important;
}

/*-----------------------
# Select Customization
-------------------------*/

.form-select:focus {
    box-shadow: 0 0 0 0.1rem var(--rs-brand-color-light);
    border-color: var(--rs-brand-color);
}

.form-select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23DAA520'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

/*-----------------------
# Button Customization
-------------------------*/

.btn-outline-secondary {
    --bs-btn-color: var(--rs-brand-color);
    --bs-btn-border-color: var(--rs-brand-color-light);
    --bs-btn-hover-bg: var(--rs-brand-color);
    --bs-btn-hover-border-color: var(--rs-brand-color);
}

.btn-outline-danger {
    --bs-btn-hover-border-color: var(--rs-brand-color);
}

/*---------------
# Card customization
-----------------*/
.card {
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

/*---------------
# Modal customization
-----------------*/
.btn-close {
    background: transparent url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNiAxNicgZmlsbD0nI2RhYTUyMCc+PHBhdGggZD0nTS4yOTMuMjkzYTEgMSAwIDAgMSAxLjQxNCAwTDggNi41ODYgMTQuMjkzLjI5M2ExIDEgMCAxIDEgMS40MTQgMS40MTRMOS40MTQgOGw2LjI5MyA2LjI5M2ExIDEgMCAwIDEtMS40MTQgMS40MTRMOCA5LjQxNGwtNi4yOTMgNi4yOTNhMSAxIDAgMCAxLTEuNDE0LTEuNDE0TDYuNTg2IDggLjI5MyAxLjcwN2ExIDEgMCAwIDEgMC0xLjQxNHonLz48L3N2Zz4=") center / 1em auto no-repeat;
}

.btn-close:focus {
    border-color: var(--rs-brand-color);
    box-shadow: none;
}

/*---------------
# Checkbox customization
-----------------*/
.form-check-input:checked {
    background-color: var(--rs-brand-color);
    border-color: var(--rs-brand-color);
}

.form-check-input:focus {
    border-color: var(--rs-brand-color-light);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px var(--rs-brand-color);
}

/*---------------
# Other
-----------------*/

.highlight-primary:hover {
    color: whitesmoke !important;
}

.text-brand {
    color: var(--rs-brand-color);
}

.action-icon {
    color: var(--rs-brand-color);
}