<div id="filtersModalContainer" class="filters-container"></div>

<script th:inline="javascript">
    const FILTERS_MODAL = `
        <div class="modal modal-lg fade show" id="filtersModal" tabindex="-1" aria-labelledby="filtersModalLabel" aria-modal="true"
             role="dialog" style="display: block;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="filtersModalLabel">Filter Games</h1>
                        <button type="button" class="btn-close text-brand" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row mb-4">
                            <div class="col-4">
                                <label for="filterGameType" class="form-label">Game type</label>
                                <select id="filterGameType" name="type" class="form-select " aria-label="Select game type">
                                    <option value="ALL" {{TYPE_ALL}}>All</option>
                                    <option value="SECOND_EDITION" {{TYPE_SECOND_EDITION}}>Base Game 2nd Edition</option>
                                    <option value="A_FEAST_FOR_CROWS" {{TYPE_A_FEAST_FOR_CROWS}}>A Feast For Crows</option>
                                    <option value="A_DANCE_WITH_DRAGONS" {{TYPE_A_DANCE_WITH_DRAGONS}}>A Dance With Dragons</option>
                                    <option value="MOTHER_OF_DRAGONS" {{TYPE_MOTHER_OF_DRAGONS}}>Mother of Dragons</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <label for="filterGameState" class="form-label">Game state</label>
                                <select id="filterGameState" name="type" class="form-select " aria-label="Select game state">
                                    <option value="ALL" {{STATE_ALL}}>All</option>
                                    <option value="COMPLETED" {{STATE_COMPLETED}}>Completed</option>
                                    <option value="NOT_COMPLETED" {{STATE_NOT_COMPLETED}}>Not completed</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <label for="filterParticipant" class="form-label">Player</label>
                                <select id="filterParticipant" name="type" class="form-select " aria-label="Select player">
                                    <option value="ALL" {{PARTICIPANT_ALL}}>All</option>
                                    {{filter-participant-options}}
                                </select>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end align-items-center gap-2">
                            <button id="resetGameFilters" type="button" class="btn btn-outline-secondary bi bi-arrow-counterclockwise" data-bs-toggle="tooltip" data-bs-title="Reset filters" onclick="resetGameFilters()"></button>
                            <button type="button" class="btn btn-outline-secondary" onclick="applyGameFilters()">Done</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>`;
    const FILTERS_PARTICIPANT_OPTION = `<option value="{{participant-id}}" {{PARTICIPANT_SELECTED}}>{{participant-name}}</option>`;

    function showGameFilters() {
        const filtersSelection = $("#filtersModalSelection-" + getSelectedStageId());
        const type = filtersSelection.data("rs-game-type");
        const gameState = filtersSelection.data("rs-game-state");
        const participant = filtersSelection.data("rs-game-participant");
        $("#filtersModalContainer").empty()
            .append(FILTERS_MODAL
                .replaceAll("{{filter-participant-options}}", buildFilterParticipantOptions(participant))
                .replaceAll("{{TYPE_" + type + "}}", "selected")
                .replaceAll("{{STATE_" + gameState + "}}", "selected")
                .replaceAll("{{PARTICIPANT_ALL}}", participant === "ALL" ? "selected" : "")
                .replaceAll("{{TYPE_ALL}}", "")
                .replaceAll("{{TYPE_SECOND_EDITION}}", "")
                .replaceAll("{{TYPE_A_FEAST_FOR_CROWS}}", "")
                .replaceAll("{{TYPE_A_DANCE_WITH_DRAGONS}}", "")
                .replaceAll("{{TYPE_MOTHER_OF_DRAGONS}}", "")
                .replaceAll("{{STATE_ALL}}", "")
                .replaceAll("{{STATE_COMPLETED}}", "")
                .replaceAll("{{STATE_NOT_COMPLETED}}", "")
            );
        $("#resetGameFilters").tooltip();
        $("#filtersModal").modal("show");
    }

    function buildFilterParticipantOptions(selectedParticipant) {
        return $(".participant-data[data-rs-stage-id='" + getSelectedStageId() + "']")
            .map((_, participant) => FILTERS_PARTICIPANT_OPTION
                .replaceAll("{{participant-id}}", $(participant).data("rs-participant-id"))
                .replaceAll("{{participant-name}}", $(participant).data("rs-participant-name"))
                .replaceAll("{{PARTICIPANT_SELECTED}}", selectedParticipant === $(participant).data("rs-participant-id") ? "selected" : "")
            )
            .get()
            .join("");
    }

    function applyGameFilters() {
        const stageSelector = ".stage-games[data-rs-stage-id='" + getSelectedStageId() + "'] ";
        //get selection
        const type = $("#filterGameType").val();
        const gameState = $("#filterGameState").val();
        const participant = $("#filterParticipant").val();

        //reset previous filtering
        const gameDataElts = $(stageSelector + ".game-data");
        gameDataElts.closest(".accordion-item")
            .removeClass("game-type-filtered game-state-filtered game-participant-filtered visually-hidden");

        //apply filter
        if (type !== "ALL") {
            $(stageSelector + ".game-data:not([data-rs-game-type='" + type + "'])")
                .closest(".accordion-item")
                .addClass("game-type-filtered");
        }
        if (gameState !== "ALL") {
            $(stageSelector + ".game-data:not([data-rs-game-completed='" + (gameState === "COMPLETED") + "'])")
                .closest(".accordion-item")
                .addClass("game-state-filtered");
        }
        if (participant !== "ALL") {
            $(stageSelector + ".game-data")
                .filter(function () {
                    return $(this) //game doesn't include selected participant
                        .find(".game-participant-data[data-rs-participant-id='" + participant + "']")
                        .length === 0;
                })
                .closest(".accordion-item")
                .addClass("game-participant-filtered");
        }
        gameDataElts
            .closest(
                ".accordion-item.game-type-filtered, " +
                ".accordion-item.game-state-filtered, " +
                ".accordion-item.game-participant-filtered")
            .addClass("visually-hidden");

        //store state
        $("#filtersModalSelection-" + getSelectedStageId())
            .data("rs-game-type", type)
            .data("rs-game-state", gameState)
            .data("rs-game-participant", participant);

        //refresh filter icon
        if (type !== "ALL" || gameState !== "ALL" || participant !== "ALL") {
            $(stageSelector)
                .find(".filter-button")
                .removeClass("bi-funnel")
                .addClass("bi-funnel-fill");
        } else {
            $(stageSelector)
                .find(".filter-button")
                .removeClass("bi-funnel-fill")
                .addClass("bi-funnel");
        }

        //show modal
        $("#filtersModal").modal("hide");
    }

    function resetGameFilters() {
        //reset state
        $("#filterGameType").val("ALL");
        $("#filterGameState").val("ALL");
        $("#filterParticipant").val("ALL");

        applyGameFilters();
    }
</script>