<div id="rankingModalContainer"></div>

<script th:inline="javascript">
    const RANKING_MODAL = `
    <div class="modal modal-lg fade show" id="rankingModal" tabindex="-1" aria-labelledby="rankingModalLabel" aria-modal="true" role="dialog" style="display: block;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="rankingModalLabel">Rankings</h1>
                    <button type="button" class="btn-close text-brand" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h5 class="text-muted text-center">{{game-name}}</h5>
                    <form id="rankingForm" method="POST" action="/tournament/{{tour-id}}/stage/{{stage-id}}/game/{{game-id}}/rankings">
                        <input type="hidden" name="gameId" value="{{game-id}}">
                        <div id="profileLinks">

                        <table class="table table-borderless">
                            <thead>
                                <th scope="col"></th>
                                <th scope="col" style="width: 55%">Player</th>
                                <th scope="col" class="text-center" style="width: 15%">
                                    Points
                                    <i id="pointsCalc" class="bi bi-calculator-fill text-brand highlight-primary fs-5" data-bs-toggle="tooltip" data-rs-calc-state="true" onclick="togglePointsCalculation()"
                                        data-bs-title="Automatically calculate points based on the scoring type. In case of tie-breakers such as land areas, supply etc, click to turn this off to manually enter the points for each player."></i>
                                </th>
                                <th scope="col" class="text-center" style="width: 15%">{{objective-type}}</th>
                                <th scope="col" class="text-center" style="width: 15%">Penalty</th>
                            </thead>
                            <tbody>
                                {{ranking-rows}}
                            </tbody>
                        </table>
                        </div>
                        <div class="d-flex justify-content-end align-items-center gap-3 mt-3">
                            <div id="rankingsError" class="text-danger visually-hidden ms-1 me-auto">Error</div>
                            <i id="rankingWarningHelp" class="bi bi-exclamation-circle text-danger visually-hidden fs-5" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Players with same score warning" data-bs-original-title="Warning! Players with same castle count. Make sure final score is correct."></i>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="gameCompleted" name="completed" onclick="toggleSameCastleCountWarning()" {{completed}}>
                                <input type="hidden" name="completed" value="false">
                                <label class="form-check-label" for="gameCompleted">Completed</label>
                            </div>
                            <button type="button" class="btn btn-outline-secondary" onclick="submitRanking()">Done</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>`;
    const RANKING_PLAYER_ROW = `
    <tr>
        <input type="hidden" name="playerId" value="{{player-id}}">
        <td><img src="/houses/{{house}}.png" alt="house icon" style="max-height: 2.25rem"></td>
        <td class="align-middle"><select class="form-select " name="participantId" aria-label="Select participant">{{participant-options}}</select></td>
        <td class="align-middle text-center"><input type="number" name="points" min=0 max="30" class="form-control text-center" value="{{points}}" disabled></td>
        <td class="align-middle text-center"><input type="number" name="castles" min=0 max="10" class="form-control text-center" value="{{castles}}" onchange="autocompletePoints()"></td>
        <td class="align-middle text-center"><input type="number" name="penaltyPoints" min=0 max="20" class="form-control text-center" value="{{penalty}}" onchange="autocompletePoints()"></td>
    </tr>`;
    const PARTICIPANT_OPTION = `<option value="{{participant-id}}" {{selected}}>{{player-name}}</option>`;

    function updateRanking() {
        const gameElement = getSelectedGameElement();
        const completed = gameElement.data("rs-game-completed")
        const modalHTML = RANKING_MODAL
            .replaceAll("{{game-name}}", gameElement.data("rs-game-name"))
            .replaceAll("{{tour-id}}", getTournamentId())
            .replaceAll("{{game-id}}", getSelectedGameId)
            .replaceAll("{{objective-type}}", gameElement.data("rs-game-type") !== "A_FEAST_FOR_CROWS" ? "Castles" : "Objectives")
            .replaceAll("{{ranking-rows}}", buildRankingRowsHTML(gameElement))
            .replaceAll("{{completed}}", completed ? "checked" : "");
        $("#rankingModalContainer").empty().append(modalHTML);
        toggleSameCastleCountWarning();
        $("#pointsCalc").tooltip();
        $("#rankingModal").modal("show");
    }

    function buildRankingRowsHTML(gameElement) {
        const playerList = [];
        gameElement.find(".player-data").each(function () {
            playerList.push({
                id: $(this).data("rs-player-id"),
                name: $(this).data("rs-player-name"),
                house: $(this).data("rs-player-house"),
                castles: $(this).data("rs-player-castles"),
                points: $(this).data("rs-player-points"),
                penaltyPts: $(this).data("rs-player-penalty-points"),
                participantId: $(this).data("rs-player-participant-id")
            })
        });
        const participantList = [];
        gameElement.find(".game-participant-data").each(function () {
            participantList.push({
                id: $(this).data("rs-participant-id"),
                name: $(this).data("rs-participant-name")
            })
        });

        return playerList
            .map(player => RANKING_PLAYER_ROW
                .replaceAll("{{player-id}}", player.id)
                .replaceAll("{{house}}", player.house)
                .replaceAll("{{participant-options}}", buildParticipantOptionsHTML(player, participantList))
                .replaceAll("{{castles}}", player.castles)
                .replaceAll("{{penalty}}", player.penaltyPts)
                .replaceAll("{{points}}", player.points))
            .join("")
            .trim();
    }

    function buildParticipantOptionsHTML(player, participantList) {
        const participantOptionsHTML = participantList
            .map(participant => PARTICIPANT_OPTION
                .replaceAll("{{participant-id}}", participant.id)
                .replaceAll("{{selected}}", participant.id === player.participantId ? "selected" : "")
                .replaceAll("{{player-name}}", participant.name)
            )
            .join("")
            .trim()
        const defaultOption = `<option value="unknown" ${player.participantId === null ? "selected" : ""}>&nbsp;</option>`
        return defaultOption + participantOptionsHTML;
    }

    function submitRanking() {
        const rankingForm = $("#rankingForm")[0];
        if (!rankingForm.checkValidity()) {
            rankingForm.reportValidity();
            return;
        }
        const rows = $("#rankingForm tbody tr");
        const rankingData = [];
        rows.each(function () {
            const row = $(this);
            const participantIdSelection = row.find("select[name='participantId']").val();
            const rowData = {
                playerId: row.find("input[name='playerId']").val(),
                participantId: participantIdSelection === "unknown" ? null : participantIdSelection,
                castles: row.find("input[name='castles']").val(),
                penaltyPoints: row.find("input[name='penaltyPoints']").val(),
                points: row.find("input[name='points']").val()
            };
            rankingData.push(rowData);
        });

        const postData = {
            gameId: getSelectedGameId(),
            playerRankingList: rankingData,
            completed: $("#gameCompleted").is(":checked") ? "true" : "false"
        };

        $.ajax({
            url: $("#rankingForm").attr("action"),
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify(postData),
            success: () => location.reload(),
            error: xhr => $("#rankingsError").text(xhr.responseText).removeClass("visually-hidden")
        });
    }

    function autocompletePoints() {
        if (!$("#pointsCalc").data("rs-calc-state")) {
            return;
        }
        const data = getPlayersData();
        data.playersData.forEach(function (player, index) {
            let points = data.numberOfPlayers //this formula is valid only for RANKING_PLUS_CASTLES scoring type
                - (index + 1) //ranking position
                + player.castles
                + (index === 0 ? 3 : 0); // winner gets 3 extra points
            player.pointsElement.val(points);
        });
        if ($("#gameCompleted").is(":checked")) {
            toggleSameCastleCountWarning();
        }
    }

    function getPlayersData() {
        const rows = $("#rankingForm tbody tr");
        const numberOfPlayers = rows.length;
        const playersData = [];
        rows.each(function () {
            playersData.push({
                castles: parseInt($(this).find("input[name='castles']").val() || 0),
                penalty: parseInt($(this).find("input[name='penaltyPoints']").val() || 0),
                pointsElement: $(this).find("input[name='points']")
            });
        });
        playersData.sort((a, b) => b.castles - a.castles);
        return {
            numberOfPlayers: numberOfPlayers,
            playersData: playersData
        };
    }

    function toggleSameCastleCountWarning() {
        if (!$("#gameCompleted").is(":checked")) {
            $("#rankingWarningHelp").addClass("visually-hidden");
            return;
        }
        const playersData = getPlayersData().playersData;
        const castleCounts = new Set();
        let hasDuplicateCastles = false;
        for (const player of playersData) {
            if (castleCounts.has(player.castles)) {
                hasDuplicateCastles = true;
                break;
            }
            castleCounts.add(player.castles);
        }
        if (hasDuplicateCastles) {
            $("#rankingWarningHelp").removeClass("visually-hidden").tooltip();
        } else {
            $("#rankingWarningHelp").addClass("visually-hidden");
        }
    }

    function togglePointsCalculation() {
        const calc = $("#pointsCalc");
        const newCalcState = !calc.data("rs-calc-state");
        calc.toggleClass("text-brand text-muted")
            .data("rs-calc-state", newCalcState);
        if (newCalcState) {
            autocompletePoints();
        }
        $("input[name='points']").prop("disabled", newCalcState);

    }
</script>