<div id="restoreBackupModalContainer"></div>

<script th:inline="javascript">
    const RESTORE_BACKUP_MODAL = `
    <div class="modal fade" id="restoreModal" tabindex="-1" aria-labelledby="restoreModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="restoreModalLabel">Restore Tournament Backup</h1>
                    <button type="button" class="btn-close text-brand" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/tournament/{{tour-id}}/restore-backup" enctype="multipart/form-data">
                        <div class="row mt-2">
                            <div class="col-12 d-flex justify-content-center align-items-center ">
                                <div class="form-group">
                                    <input id="backupSelect" name="file" type="file" accept=".json" class="form-control-file">
                                </div>
                            </div>
                        </div>
                        <div class="fst-italic text-danger-emphasis text-center mt-3 mb-3">
                            You are about to reset ALL tournament data by restoring a backup.
                            <br/><br/>
                            <strong>This action cannot be undone!</strong>
                        </div>
                        <div class="d-flex justify-content-end align-items-center">
                            <button type="submit" class="btn btn-outline-secondary ms-auto">
                                Done
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>`;

    function showBackupModal() {
        $("#restoreBackupModalContainer").empty().append(RESTORE_BACKUP_MODAL
            .replaceAll("{{tour-id}}", getTournamentId));
        $("#restoreModal").modal("show");
    }

    function restoreBackup() {
        const fileInput = $('#backupSelect')[0];
        if (fileInput.files.length === 0) {
            alert("Please select a file.");
            return;
        }

        const file = fileInput.files[0]; // Get the selected file
        const formData = new FormData();
        formData.append("file", file);

        $.ajax({
            url: "/tournament/" + getTournamentId() + "/restore-backup", // Replace with your endpoint URL
            type: "POST",
            data: formData,
            processData: false, // Prevent jQuery from automatically transforming the FormData object
            contentType: "multipart/form-data", // Ensure the content type is set correctly
            success: function (response) {
                alert('File uploaded successfully!');
                console.log(response);
                location.reload();
            },
            error: function (xhr, status, error) {
                alert('An error occurred during the backup restore.');
                console.error(error);
            }
        });
    }
</script>