<div id="tournamentStageModalContainer"></div>

<script th:inline="javascript">
    const STAGE_MODAL = `
    <div class="modal fade show" id="stageModal" tabindex="-1" aria-labelledby="stageModalLabel" aria-modal="true"
         role="dialog" style="display: block;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="stageModalLabel">{{title}}</h1>
                    <button type="button" class="btn-close text-brand" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/tournament/{{tour-id}}/stage">
                        <input type="hidden" name="tournamentId" value="{{tour-id}}">
                        <input type="hidden" name="stageId" value="{{stage-id}}">
                        <div class="d-flex justify-content-start align-items-end gap-3 mb-1">
                            <div style="width: 67%">
                                <label for="stageName" class="form-label">Name</label>
                                <input type="text" required="" minlength="4" maxlength="100" class="form-control"
                                       id="stageName" placeholder="Enter stage name" name="name" value="{{stage-name}}">
                            </div>
                            <div style="width: 33%">
                                <label for="qualifyCount" class="form-label">Qualifying players</label>
                                <input type="number" required="" min="1" max="64" class="form-control" id="qualifyCount"
                                       name="qualificationCount" value="{{qualification-count}}">
                            </div>
                        </div>
                        <div class="text-muted fst-italic text-center mb-3">
                            You can change the amount of players qualifying for the next round at any point.
                        </div>
                        <div class="d-flex justify-content-end align-items-center">
                            {{delete-button}}
                            <button type="submit" class="btn btn-outline-secondary ms-auto">Done</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>`
    const DELETE_STAGE_BUTTON = `<a id="deleteStageButton" class="btn btn-outline-danger"
                                data-bs-toggle="tooltip" data-bs-title="Delete stage"
                                href="/tournament/{{tour-id}}/stage/remove/{{stage-id}}">Delete</a>`

    function newTournamentStage() {
        refreshStageModal(STAGE_MODAL
            .replaceAll("{{title}}", "New Tournament Stage")
            .replaceAll("{{delete-button}}", "")
            .replaceAll("{{tour-id}}", getTournamentId())
            .replaceAll("{{stage-id}}", "")
            .replaceAll("{{stage-name}}", "")
            .replaceAll("{{qualification-count}}", "1")
        );
    }

    function editTournamentStage() {
        let selectedStage = $('#stageNav .nav-item .nav-link.active');
        refreshStageModal(STAGE_MODAL
            .replaceAll("{{title}}", "Modify Tournament Stage")
            .replaceAll("{{delete-button}}", DELETE_STAGE_BUTTON)
            .replaceAll("{{tour-id}}", getTournamentId())
            .replaceAll("{{stage-id}}", getSelectedStageId())
            .replaceAll("{{stage-name}}", selectedStage.text())
            .replaceAll("{{qualification-count}}", selectedStage.data('rs-stage-qualification-count'))
        );
    }

    function refreshStageModal(playerModalHTML) {
        $("#tournamentStageModalContainer").empty().append(playerModalHTML);
        $("#deleteStageButton").tooltip();
        $("#stageModal").modal("show");
    }
</script>