<script th:inline="javascript">
    $(document).ready(function () {
        //setup stage selection updates
        $('#stageNav').on("shown.bs.tab", function (event) {
            storeSelection()
        });

        //setup game selection updates
        $(".accordion").on("shown.bs.collapse", function () {
            storeSelection();
        });

        // Restore previously selected stage
        const selectedStage = getSelectedStageId();
        if (selectedStage != null) {
            $("#stageNav a[data-rs-stage-id='" + selectedStage + "']")
                .on('shown.bs.tab', function () {
                    // Restore previously selected game after stage tab is fully shown
                    const selectedGame = getSelectedGameId();
                    if (selectedGame != null) {
                        $(".accordion-collapse[data-rs-game-id='" + selectedGame + "']").collapse("show");
                    }
                })
                .tab("show");
        }

        // refresh initial selections
        localStorage.setItem("tourId", $("#tournamentRoot").data("rs-tour-id"));
        storeSelection();
    })

    function storeSelection() {
        localStorage.setItem("stageId", $("#stageNav .nav-item .nav-link.active").data("rs-stage-id"))
        localStorage.setItem("gameId", $(".accordion-collapse.collapse.show[data-rs-stage-id='" + getSelectedStageId() + "']").data("rs-game-id"))
    }

    function getTournamentId() {
        return localStorage.getItem("tourId");
    }

    function getSelectedStageId() {
        return localStorage.getItem("stageId");
    }

    function getSelectedGameId() {
        return localStorage.getItem("gameId");
    }

    function getSelectedGameElement() {
        return $(".accordion-collapse.collapse.show[data-rs-game-id=" + getSelectedGameId() + "]");
    }
</script>