<!-- UNLOCK MODAL-->
<div class="modal modal-sm fade" id="unlockAdminModal" tabindex="-1" aria-labelledby="unlockAdminModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="unlockAdminModalLabel">Tournament Admin</h1>
                <button type="button" class="btn-close text-brand" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <input type="email" class="form-control" id="tournamentKey" placeholder="Administration key">
                </div>
                <div class="d-flex justify-content-end align-items-center">
                    <div id="tournamentKeyError" class="text-danger visually-hidden ms-1 me-auto">
                        Incorrect key!
                    </div>
                    <button type="button" class="btn btn-outline-secondary" onclick="unlockAdmin()">Unlock</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    const COOKIE_NAME = "tournament-key-hash";

    function showUnlockModal() {
        $("#unlockAdminModal").modal("show");
    }

    function lockAdmin() {
        document.cookie = COOKIE_NAME + `=; path=/; expires=Thu, 01 Jan 1970 00:00:00 GMT`;
        location.reload();
    }

    function unlockAdmin() {
        $.ajax({
            url: window.location.pathname + "/unlock-tournament",
            method: "POST",
            contentType: "text/plain",
            data: $("#tournamentKey").val(),
            success: response => {
                document.cookie = COOKIE_NAME + `=${encodeURIComponent(response)}; path=/; max-age=1209600`;
                location.reload();
            },
            error: () => $("#tournamentKeyError").removeClass("visually-hidden")
        })
        ;
    }
</script>