<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<body>
<main layout:fragment="content">
    <div class="d-flex justify-content-center mt-5">
        <img th:src="@{/raven-skull.png}" height="200px">
    </div>
    <h5 class="text-muted text-center mt-5">Something went wrong...</h5>
    <div class="d-flex justify-content-center">
        <a class="text-brand-light link-secondary link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
           href="/">Go to home</a>
    </div>
</main>
</body>
</html>