<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<body>
<main layout:fragment="content">
    <div class="d-flex justify-content-center align-items-center w-100">
        <h3 id="tournamentRoot" class="text-muted ms-3 text-center" th:text="${model.name}"
            th:data-rs-tour-id="${model.id}"
            th:data-rs-tour-hidden="${model.hidden}"
            th:data-rs-tour-key="${model.adminUnlocked ? model.tournamentKey : ''}">Tourney Name</h3>
        <a th:if="${model.adminUnlocked}" type="button" th:href="@{'/tournament/'+${model.id}+'/download-backup'}"
           class="btn btn-sm btn-outline-secondary bi bi-download ms-2 me-2"
           data-bs-toggle="tooltip" data-bs-title="Download tournament data"></a>
        <button th:if="${model.adminUnlocked}" type="button"
                class="btn btn-sm btn-outline-secondary bi bi-arrow-counterclockwise me-2"
                data-bs-toggle="tooltip" data-bs-title="Restore tournament backup"
                onclick="showBackupModal()"></button>
        <button th:if="${model.adminUnlocked}" type="button"
                class="btn btn-sm btn-outline-secondary bi bi-pencil-fill"
                data-bs-toggle="tooltip" data-bs-title="Modify tournament details"
                onclick="editTournament()"></button>
        <button th:if="${not model.adminUnlocked}" type="button"
                class="btn btn-sm btn-outline-secondary bi bi-key-fill ms-2 me-2"
                data-bs-toggle="tooltip" data-bs-title="Unlock tournament administration"
                onclick="showUnlockModal()"></button>
        <button th:if="${model.adminUnlocked}" type="button"
                class="btn btn-sm btn-outline-secondary bi bi-unlock-fill ms-2"
                data-bs-toggle="tooltip" data-bs-title="Tournament administration is unlocked. Click to lock it."
                onclick="lockAdmin()"></button>
    </div>
    <h5 class="text-brand ms-3 text-center fst-italic" th:if="${model.adminUnlocked}">(Tournament Admin Mode)</h5>
    <div th:if="${error ne null}" class="alert alert-danger text-center" role="alert" th:text="${error}">
        Error message
    </div>
    <div th:if="${message ne null}" class="alert alert-success text-center" role="alert" th:text="${message}">
        Info message
    </div>

    <!-- NAVIGATION ROW -->
    <div class="d-flex justify-content-center align-items-center mb-3">
        <button type="button" class="btn btn-sm btn-outline-secondary bi bi-text-paragraph me-3"
                data-bs-toggle="tooltip" data-bs-title="Show tournament rules & details"
                onclick="showRulesModal()"></button>
        <button th:if="${model.adminUnlocked}" type="button" class="btn btn-sm btn-outline-secondary bi bi-plus-lg me-2"
                data-bs-toggle="tooltip" data-bs-title="Create new tournament stage"
                onclick="newTournamentStage()"></button>
        <button th:if="${model.adminUnlocked}" type="button"
                class="btn btn-sm btn-outline-secondary bi bi-pencil-fill me-2"
                data-bs-toggle="tooltip" data-bs-title="Modify selected tournament stage"
                onclick="editTournamentStage()"></button>
        <ul id="stageNav" class="nav nav-underline mb-3" role="tablist">
            <li class="nav-item" role="presentation" th:each="stage, stageIdx : ${model.tournamentStageModelList}">
                <a th:class="${'nav-link ' + (stageIdx.first ? 'active' : '')}" href="#"
                   th:data-rs-stage-id="${stage.id}"
                   th:data-rs-stage-name="${stage.name}"
                   th:data-rs-stage-qualification-count="${stage.qualificationCount}"
                   data-bs-toggle="tab" th:data-bs-target="${'#stage-'+stageIdx.index}">
                    <i th:if="${stage.completed}" class="bi bi-check-lg"></i>
                    <span th:text="${stage.name}">
                        Stage
                    </span>
                </a>
            </li>
        </ul>
    </div>

    <div th:if="${model.tournamentStageModelList.isEmpty()}" class="align-middle fst-italic fw-lighter text-center">
        This tournament is empty.
        <th:block th:if="${not model.adminUnlocked}">
            You must
            <a class="text-brand-light link-secondary link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
               href="#" onclick="showUnlockModal()">unlock</a>
            it first to create tournament stages.
        </th:block>
        <th:block th:if="${model.adminUnlocked}">
            You can now
            <a class="text-brand-light link-secondary link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
               href="#" onclick="newTournamentStage()">create</a>
            its first tournament stage.
        </th:block>
    </div>

    <div class="tab-content">
        <div th:each="stage, stageIdx : ${model.tournamentStageModelList}"
             th:data-rs-stage-completed="${stage.completed}" th:id="${'stage-'+stageIdx.index}"
             th:class="${'stage-data tab-pane fade ' + (stageIdx.first ? 'show active' : '')}">
            <div class="row">
                <div class="col-12 col-xxl-6">
                    <!-- STAGE RANKINGS -->
                    <div class="d-flex justify-content-center align-items-center mb-2">
                        <div class="ms-1 me-auto">
                            <button th:if="${model.adminUnlocked}" type="button" data-bs-toggle="tooltip"
                                    data-bs-title="Add player" onclick="newParticipant()"
                                    class="btn btn-outline-secondary btn-sm bi bi-plus-lg me-2"></button>
                            <button th:if="${model.adminUnlocked}" type="button" data-bs-toggle="tooltip"
                                    data-bs-title="Import players qualifying from previous stages"
                                    onclick="importParticipants()"
                                    class="btn btn-outline-secondary btn-sm bi bi-box-arrow-down"></button>
                        </div>
                        <h5 class="text-center">Stage Rankings</h5>
                        <div class="ms-auto"></div>
                    </div>
                    <div th:if="${stage.participantModelList.isEmpty()}"
                         class="align-middle fst-italic fw-lighter text-center mb-5">
                        This tournament stage has no participants yet.
                        <th:block th:if="${model.adminUnlocked}">Please
                            <a href="#" onclick="newParticipant()"
                               class="text-brand-light link-secondary link-underline link-underline-opacity-0 link-underline-opacity-75-hover">add</a>
                            or
                            <a href="#" onclick="importParticipants()"
                               class="text-brand-light link-secondary link-underline link-underline-opacity-0 link-underline-opacity-75-hover">import</a>
                            players.
                        </th:block>
                    </div>
                    <div class="scrollable-div">
                        <table class="table table-borderless table-hover mb-4"
                               th:if="${not stage.participantModelList.isEmpty()}">
                            <thead>
                            <tr>
                                <th scope="col" style="width: 5%"></th>
                                <th scope="col" style="width: 45%">Player</th>
                                <th scope="col" class="text-center">Score
                                    <i th:if="${model.rankingMode eq 'SCORE'}"
                                       class="bi bi-sort-down fs-5 text-brand highlight-brand"></i>
                                    <a href="?rankingMode=SCORE" th:if="${model.rankingMode ne 'SCORE'}"
                                       class="bi bi-sort-down fs-5 text-muted"></a>
                                </th>
                                <th scope="col" class="text-center">Games</th>
                                <th scope="col" class="text-center">Wins</th>
                                <th scope="col" class="text-center">Avg. points
                                    <i th:if="${model.rankingMode eq 'AVG_PTS'}"
                                       class="bi bi-sort-down fs-5 text-brand highlight-brand"></i>
                                    <a href="?rankingMode=AVG_PTS" th:if="${model.rankingMode ne 'AVG_PTS'}"
                                       class="bi bi-sort-down fs-5 text-muted"></a></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="participant, participantIdx: ${stage.participantModelList}"
                                th:class="${participantIdx.index eq stage.qualificationCount ? 'border-top-brand' : ''}">
                                <th th:if="${participant.id ne model.winnerParticipantId}"
                                    class="align-middle text-center text-muted"
                                    scope="row" th:text="${participantIdx.index+1}">#
                                </th>
                                <th th:if="${participant.id eq model.winnerParticipantId}"
                                    class="align-middle text-center"
                                    scope="row">
                                    <img th:src="@{'/crown-golden.png'}" alt="winner" class="pb-2"
                                         data-bs-toggle="tooltip"
                                         data-bs-title="Tournament winner"></th>
                                <td>
                                    <div class="d-flex justify-content-start align-items-center action-container">
                                        <div>
                                            <span class="participant-data"
                                                  th:data-rs-stage-id="${stage.id}"
                                                  th:data-rs-participant-id="${participant.id}"
                                                  th:data-rs-is-qualifier="${participantIdx.index lt stage.qualificationCount}"
                                                  th:data-rs-participant-name="${participant.name}">
                                                <i class="bi bi-person-fill text-muted"></i>
                                                <span th:text="${participant.name}">Petyr Baelish</span>
                                            </span>
                                            <span th:if="${participant.replacedLabel ne null}"
                                                  class="badge rounded-pill border border-secondary text-secondary-emphasis bi bi-arrow-down-up d-inline-block"
                                                  data-bs-toggle="tooltip"
                                                  th:data-bs-title="${participant.replacedLabel}"></span>
                                            <th:block th:each="link : ${participant.profileLinks}">
                                                <span th:if="${link.link eq null}"
                                                      class="badge rounded-pill border border-secondary text-secondary-emphasis bi bi-person-fill player-alias"
                                                      data-bs-toggle="tooltip" data-bs-title="Alias"
                                                      th:text="' ' + ${link.label}">Handle</span>
                                                <a th:if="${link.link ne null}" th:href="${link.link}"
                                                   target="_blank"
                                                   class="text-decoration-none badge rounded-pill border border-secondary text-secondary-emphasis bi bi-box-arrow-up-right player-alias"
                                                   data-bs-toggle="tooltip"
                                                   th:data-bs-title="${'External player profile: '+link.link}"
                                                   th:text="'  ' + ${link.label}">Profile</a>
                                            </th:block>
                                            <i th:if="${model.adminUnlocked}"
                                               class="bi bi-pencil-square visually-hidden action-icon"
                                               data-bs-toggle="tooltip"
                                               data-bs-title="Edit/remove" onclick="editParticipant(this)"></i>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle text-center">
                                    <span th:text="${participant.score}">Pts</span>
                                    <i th:if="${participant.penaltyPoints gt 0}"
                                       class="bi bi-heartbreak-fill text-danger-emphasis" data-bs-toggle="tooltip"
                                       th:data-bs-title="${participant.points+' pts. - '+participant.penaltyPoints+' penalty points.'}"></i>
                                </td>
                                <td th:if="${participant.games ne 0}" class="align-middle text-center"
                                    th:text="${participant.games}">Games
                                </td>
                                <td th:if="${participant.games eq 0}"></td>
                                <td th:if="${participant.wins.size() ne 0}"
                                    class="align-middle text-center" data-bs-toggle="tooltip"
                                    th:data-bs-title="${participant.wins.size()+' win(s), of which '+participant.cleanWins+' clean'}">
                                    <img th:each="win : ${participant.wins}"
                                         th:src="@{'/houses/'+${win.house.label()}+'.png'}" alt="house icon"
                                         style="max-height: 0.9rem">
                                </td>
                                <td th:if="${participant.wins.size() eq 0}"></td>
                                <td class="align-middle text-center" th:text="${participant.avgPoints}">Avg pts</td>
                            </tr>
                            </tbody>
                        </table>

                        <!-- SUBSTITUTES -->
                        <h6 class="fw-semibold">
                            <button th:if="${model.adminUnlocked}" type="button"
                                    class="btn btn-sm btn-outline-secondary bi bi-plus-lg ms-1"
                                    data-bs-toggle="tooltip" data-bs-title="Add substitute player"
                                    onclick="newSubstitute()"></button>
                            <button th:if="${model.adminUnlocked}" type="button"
                                    class="btn btn-sm btn-outline-secondary bi bi-arrow-down-up mx-2"
                                    data-bs-toggle="tooltip" data-bs-title="Make substitution"
                                    onclick="showSubstitutionModal()"></button>
                            Substitute players
                        </h6>
                        <div th:if="${model.substituteModelList.isEmpty()}"
                             class="align-middle fst-italic fw-lighter text-center">
                            The tournament has no substitutes.
                        </div>
                        <div class="row stage-substitutes" th:data-rs-stage-id="${stage.id}">
                            <div class="col-4 col-lg-3 action-container mb-3"
                                 th:each="substitute : ${model.substituteModelList}">
                                <span class="substitute-data"
                                      th:data-rs-substitute-id="${substitute.id}"
                                      th:data-rs-substitute-name="${substitute.name}">
                                    <i class="bi bi-person-fill text-muted"></i>
                                    <span th:text="${substitute.name}">Sub Name</span>
                                </span>&nbsp;
                                <i th:if="${model.adminUnlocked}"
                                   class="bi bi-pencil-square highlight-primary visually-hidden action-icon"
                                   data-bs-toggle="tooltip" data-bs-title="Edit/remove"
                                   onclick="editSubstitute(this)"></i>
                                <br/>
                                <th:block th:each="link : ${substitute.profileLinks}">
                                    <span th:if="${link.link eq null}"
                                          class="badge rounded-pill border border-secondary text-secondary-emphasis bi bi-person-fill player-alias"
                                          data-bs-toggle="tooltip" data-bs-title="Alias"
                                          th:text="' ' + ${link.label}">Handle</span>
                                    <a th:if="${link.link ne null}" th:href="${link.link}"
                                       target="_blank"
                                       class="text-decoration-none badge rounded-pill border border-secondary text-secondary-emphasis bi bi-box-arrow-up-right player-alias"
                                       data-bs-toggle="tooltip"
                                       th:data-bs-title="${'External player profile: '+link.link}"
                                       th:text="'  ' + ${link.label}">Profile</a>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- STAGE GAMES -->
                <div class="col-12 col-xxl-6 stage-games" th:data-rs-stage-id="${stage.id}">
                    <h5 class="d-flex justify-content-center align-items-center mt-5 mt-lg-0">
                        <span class="ms-1 me-auto">
                            <button th:if="${model.adminUnlocked}" type="button"
                                    class="btn btn-sm btn-outline-secondary bi bi-plus-lg"
                                    data-bs-toggle="tooltip" data-bs-title="Create new game"
                                    onclick="newGame()"></button>
                        </span>
                        <span>Games
                            <i class="filter-button bi bi-funnel fs-5 text-brand highlight-primary ms-2"
                               data-bs-toggle="tooltip"
                               data-bs-title="Show/hide filters"
                               onclick="showGameFilters()"></i></span>
                        <span class="ms-auto">
                        </span>
                    </h5>
                    <div th:id="${'filtersModalSelection-'+stage.id}" data-rs-game-type="ALL" data-rs-game-state="ALL"
                         data-rs-game-participant="ALL"></div>
                    <div th:if="${stage.gameModelList.isEmpty()}"
                         class="align-middle fst-italic fw-lighter text-center">
                        This
                        tournament stage has no games yet.
                        <th:block th:if="${model.adminUnlocked}">
                            Why not
                            <a href="#" onclick="newGame()"
                               class="text-brand-light link-secondary link-underline link-underline-opacity-0 link-underline-opacity-75-hover">create
                                one</a> now?
                        </th:block>
                    </div>
                    <div class="accordion accordion-flush scrollable-div" th:id="${'accordionGames-'+stageIdx.index}">
                        <div class="accordion-item" th:each="game, gameIdx : ${stage.gameModelList}">
                            <h6 class="accordion-header highlight-primary">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        th:data-bs-target="${'#flush-collapse-'+gameIdx.index}" aria-expanded="false"
                                        aria-controls="flush-collapse">
                                    <span class="text-muted" th:text="${game.type.shortname}">Type</span>&nbsp;
                                    <span th:text="${game.name}">Name</span>&nbsp;
                                    <span th:if="${not game.completed}" th:text="${'(Round '+game.round+')'}"
                                          th:class="${'text-muted fst-italic round-label '+(game.round eq null? 'visually-hidden' : '')}">
                                        (Round #)
                                    </span>
                                    <span th:if="${game.completed}"
                                          class="text-muted fst-italic">(Completed)</span>
                                </button>
                            </h6>
                            <div th:id="${'flush-collapse-'+gameIdx.index}"
                                 class="accordion-collapse collapse game-data"
                                 th:data-rs-stage-id="${stage.id}"
                                 th:data-rs-game-id="${game.id}"
                                 th:data-rs-game-name="${game.name}"
                                 th:data-rs-game-link="${game.link}"
                                 th:data-rs-game-type="${game.type}"
                                 th:data-rs-game-completed="${game.completed}"
                                 th:data-bs-parent="${'#accordionGames-'+stageIdx.index}">
                                <div class="accordion-body ms-3">
                                    <div class="d-flex justify-content-start gap-3 w-100">
                                        <div>
                                            <div th:if="${not model.adminUnlocked}"
                                                 class="text-center text-secondary-emphasis"
                                                 th:text="${game.completed ? ('Round ' + game.round): ''}">
                                                Round #
                                            </div>
                                            <div th:if="${model.adminUnlocked}"
                                                 class="d-flex justify-content-center gap-2 position-relative">
                                                <button type="button"
                                                        class="btn btn-sm btn-outline-secondary bi bi-pencil-fill"
                                                        data-bs-toggle="tooltip" data-bs-title="Modify game details"
                                                        onclick="editGame()"></button>
                                                <button type="button"
                                                        class="btn btn-sm btn-outline-secondary bi bi-trophy-fill"
                                                        data-bs-toggle="tooltip" data-bs-title="Update game rankings"
                                                        onclick="updateRanking()"></button>
                                                <select th:id="${'game-round-'+game.id}" name="type" class="form-select"
                                                        data-bs-toggle="tooltip" data-bs-title="Change current round"
                                                        aria-label="Select round" onchange="updateRound(this)">
                                                    <option th:selected="${game.round eq null}" value="0">Not started
                                                    </option>
                                                    <option th:each="roundNb : ${#numbers.sequence(1, (game.type.toString() eq 'A_DANCE_WITH_DRAGONS' ? 6 : 10))}"
                                                            th:value="${roundNb}" th:text="${'Round '+roundNb}"
                                                            th:selected="${game.round eq roundNb}">
                                                        Round #1
                                                    </option>
                                                </select>
                                                <i th:id="${'round-change-indicator-'+game.id}"
                                                   class="bi bi-check-lg fs-4 text-brand visually-hidden"
                                                   style="position:absolute; left: 103%; "></i>
                                            </div>
                                            <div class="card mt-3"
                                                 style="width: 15rem; position: relative; overflow: hidden;">
                                                <img th:src="@{'/cards/'+${game.type}+'.jpg'}"
                                                     class="card-img-top" alt="Background">
                                                <div class="card-body">
                                                    <a th:if="${game.link ne null}" th:href="${game.link}"
                                                       target="_blank"
                                                       class="stretched-link"></a>
                                                    <h5 class="card-title text-center text-brand"
                                                        th:text="${game.type.longName}">
                                                        Game
                                                        type</h5>
                                                    <span th:if="${game.link ne null}"
                                                          class="d-flex justify-content-center text-muted">Go to game
                                            </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w-100">
                                            <div th:class="${game.playersRevealed ? 'visually-hidden' : ''}">
                                                <h6 class="text-center mt-1 mb-4">Participants</h6>
                                                <div th:if="${game.participantIdList.isEmpty()}"
                                                     class="align-middle fst-italic fw-lighter text-center">
                                                    There are no known participants in this game.
                                                </div>
                                                <div class="row mb-3">
                                                    <th:block th:each="participant : ${stage.participantModelList}">
                                                        <th:block
                                                                th:if="${game.participantIdList.contains(participant.id)}">
                                                            <div class="col-4 mb-3">
                                                        <span class="game-participant-data"
                                                              th:data-rs-participant-name="${participant.name}"
                                                              th:data-rs-participant-id="${participant.id}">
                                                            <i class="bi bi-person-fill text-muted"></i>
                                                            <span th:text="${participant.name}">Stark</span></span>
                                                                <br/>
                                                                <span th:if="${participant.replacedLabel ne null}"
                                                                      class="badge rounded-pill border border-secondary text-secondary-emphasis bi bi-arrow-down-up d-inline-block"
                                                                      data-bs-toggle="tooltip"
                                                                      th:data-bs-title="${participant.replacedLabel}"></span>
                                                                <th:block th:each="link : ${participant.profileLinks}">
                                                                    <span th:if="${link.link eq null}"
                                                                          class="badge rounded-pill border border-secondary text-secondary-emphasis bi bi-person-fill"
                                                                          data-bs-toggle="tooltip" data-bs-title="Alias"
                                                                          th:text="' ' + ${link.label}">Handle</span>
                                                                    <a th:if="${link.link ne null}"
                                                                       th:href="${link.link}" target="_blank"
                                                                       class="text-decoration-none badge rounded-pill border border-secondary text-secondary-emphasis bi bi-box-arrow-up-right player-alias"
                                                                       data-bs-toggle="tooltip"
                                                                       th:data-bs-title="${'External player profile: '+link.link}"
                                                                       th:text="'  ' + ${link.label}">Profile</a>
                                                                </th:block>
                                                            </div>
                                                        </th:block>
                                                    </th:block>
                                                </div>
                                            </div>
                                            <div>
                                                <h6 class="text-center">Game Rankings</h6>
                                                <table class="table table-borderless table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th scope="col"></th>
                                                        <th scope="col">Player</th>
                                                        <th scope="col" class="text-center">Points</th>
                                                        <th scope="col" class="text-center">Castles</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each="player, playerIdx: ${game.playerModelList}"
                                                        class="player-data"
                                                        th:data-rs-player-id="${player.id}"
                                                        th:data-rs-player-name="${player.name}"
                                                        th:data-rs-player-house="${player.house}"
                                                        th:data-rs-player-castles="${player.castles}"
                                                        th:data-rs-player-points="${player.score}"
                                                        th:data-rs-player-penalty-points="${player.penaltyPoints}"
                                                        th:data-rs-player-participant-id="${player.participantId}">
                                                        <th th:if="${not game.completed or playerIdx.index gt 0}"
                                                            class="align-middle text-center" scope="row"
                                                            th:text="${playerIdx.index+1}">
                                                            #
                                                        </th>
                                                        <th th:if="${game.completed and playerIdx.index eq 0}"
                                                            class="align-middle text-center" scope="row">
                                                            <img th:src="@{'/crown.png'}" alt="winner" class="pb-2"
                                                                 data-bs-toggle="tooltip" data-bs-title="Winner">
                                                        </th>
                                                        <td>
                                                            <div class="d-flex justify-content-start align-items-center">
                                                                <img th:src="@{'/houses/'+${(player.house eq 'Stark' and game.type.toString() eq 'A_DANCE_WITH_DRAGONS' ? 'Bolton' : player.house)}+'.png'}"
                                                                     alt="house icon" style="max-height: 2.25rem">&nbsp;
                                                                <div class="ms-3">
                                                            <span th:text="${player.name}"
                                                                  th:class="${player.profileLinks.isEmpty() ? 'text-muted' : ''}">
                                                                Lannister
                                                            </span>
                                                                    <br/>
                                                                    <span th:if="${player.replacedLabel ne null}"
                                                                          class="badge rounded-pill border border-secondary text-secondary-emphasis bi bi-arrow-down-up d-inline-block"
                                                                          data-bs-toggle="tooltip"
                                                                          th:data-bs-title="${player.replacedLabel}"></span>
                                                                    <th:block th:each="link : ${player.profileLinks}">
                                                                        <span th:if="${link.link eq null}"
                                                                              class="badge rounded-pill border border-secondary text-secondary-emphasis bi bi-person-fill"
                                                                              data-bs-toggle="tooltip"
                                                                              data-bs-title="Alias"
                                                                              th:text="' ' + ${link.label}">Handle</span>
                                                                        <a th:if="${link.link ne null}"
                                                                           th:href="${link.link}" target="_blank"
                                                                           class="text-decoration-none badge rounded-pill border border-secondary text-secondary-emphasis bi bi-box-arrow-up-right player-alias"
                                                                           data-bs-toggle="tooltip"
                                                                           th:data-bs-title="${'External player profile: '+link.link}"
                                                                           th:text="'  ' + ${link.label}">Profile</a>
                                                                    </th:block>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="align-middle text-center">
                                                            <span th:text="${player.score}">Points</span>
                                                            <i th:if="${player.penaltyPoints gt 0}"
                                                               class="bi bi-heartbreak-fill text-danger-emphasis"
                                                               data-bs-toggle="tooltip"
                                                               th:data-bs-title="${player.penaltyPoints+' penalty points.'}"></i>
                                                        </td>
                                                        <td th:if="${game.completed or player.castles gt 0}"
                                                            class="align-middle text-center"
                                                            th:text="${player.castles}">
                                                            Castles
                                                        </td>
                                                        <td th:if="${not game.completed and player.castles eq 0}"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Components -->
    <div layout:replace="~{component/state}"></div>
    <div layout:replace="~{component/rules}"></div>
    <div layout:replace="~{component/unlock-admin}"></div>
    <div layout:replace="~{component/filters}"></div>
    <div th:if="${model.adminUnlocked}">
        <div layout:replace="~{component/tournament-details}"></div>
        <div layout:replace="~{component/stage}"></div>
        <div layout:replace="~{component/player}"></div>
        <div layout:replace="~{component/import-participants}"></div>
        <div layout:replace="~{component/substitution}"></div>
        <div layout:replace="~{component/game}"></div>
        <div layout:replace="~{component/ranking}"></div>
        <div layout:replace="~{component/restore-backup}"></div>
    </div>

    <!-- Utility cross-component functions -->
    <script th:inline="javascript">
        $(document).ready(function () {
            // setup action container icons
            $(".action-container").hover(
                function () {
                    $(this).find(".action-icon").removeClass("visually-hidden");
                },
                function () {
                    $(this).find(".action-icon").addClass("visually-hidden");
                }
            );

            // prevent submitting forms on <Enter>
            $(window).keydown(function (event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                    return false;
                }
            });
        })
    </script>
</main>
</body>
</html>